$primary-color: #1698D9;
$primary-hover-color: #2EA8E6;
$selected-color: #D91667;
$selected-hover-color: #E52E7A;
$disabled-color: #B3B3B3;
$background-color: #F2F2F2;
$text-color: #000000;
$text-color-selected: #E62E7A;
$text-color-disabled: #B3B3B3;
$text-color-disabled-secondary: #FFFF66;
$text-color-secondary: #666666;