@font-face {
  font-family: 'Conv_Exo2.0-Thin';
  src: url('../assets/fonts/Exo2.0-Thin.eot');
  src: local('☺'), url('../assets/fonts/Exo2.0-Thin.woff') format('woff'),
  url('../assets/fonts/Exo2.0-Thin.ttf') format('truetype'),
  url('../assets/fonts/Exo2.0-Thin.svg') format('svg'),
  url('../assets/fonts/Exo2.0-Thin.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Trebuchet MS';
  src: url('../assets/fonts/Trebuchet MS gen.eot');
  src: local('☺'), url('../assets/fonts/Trebuchet MS gen.woff') format('woff'),
  url('../assets/fonts/Trebuchet MS gen.ttf') format('truetype'),
  url('../assets/fonts/Trebuchet MS gen.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}